{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'blog.css' %}">
</head>
<body>
    
    <form method="POST">
        <h2 style="font-style: italic;">Write Your Blog</h2>
    {% csrf_token %}
    <input type="text" name="title" placeholder="Blog Title" required><br>
    <textarea name="content" placeholder="Write your blog..." required></textarea><br>
    <button type="submit">Post</button>
</form>


</body>
</html>