{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <!-- TOAST MESSAGES -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
    <div style="
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #f44336;
        color: white;
        padding: 12px 20px;
        border-radius: 6px;
        z-index: 9999;
        box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    ">
        {{ message }}
    </div>
{% else %}
    <div style="
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border-radius: 6px;
        z-index: 9999;
        box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    ">
        {{ message }}
    </div>
{% endif %}
    {% endfor %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                const toast = document.querySelector('[style*="position: fixed"]');
                if(toast){
                    toast.remove();
                }
            }, 3000);
        });
    </script>
{% endif %}


    <form method="POST">
        <h2>Login Form</h2>
    {% csrf_token %}
    <div>
        <label style="font-style: italic;" for="">Enter Username</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label style="font-style: italic;" for="">Enter Password</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <button style="font-style: italic;" type="submit">Login</button>
    </div>
</form>

</body>
</html>